* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
body {
  background-color: #cf6a87;
  color: #d2dae2;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.container h1 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 16px 0;
  font-size: 2.5em;
  margin-bottom: 24px;
}
.container .sorteio {
  text-align: center;
}
#form-cadastro {
  width: 600px;
  margin: 0 auto;
}
#form-cadastro label,
#form-cadastro input {
  width: 100%;
}
#form-cadastro input {
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 8px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #d2dae2;
  outline-color: #d2dae2;
  border-radius: 3px;
}
button {
  display: block;
  margin: 0 auto;
  padding: 16px;
  font-weight: bold;
  background-color: #546de5;
  color: #d2dae2;
  border: none;
  margin-bottom: 16px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
}
button:hover {
  background-color: #4a63db;
}
.sorteio p {
  font-size: 1.5em;
  padding: 16px 0;
}
.sorteio .material-symbols-outlined {
  margin: 0 8px;
}
